body{
    
    margin: 0px;
    background-color: hsl(0, 0%, 0%);
    color:aliceblue;
}
main{
    margin: 20px;
}
h1{
    text-align: center;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;    
}
.box{
    width: 300px;
    height: 150px;
    font-size: 2em;
    text-align: left;
}

.navbarS ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    padding:0;
    margin: 0px;
    overflow: hidden;
}
.navbarS a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbarS a:hover{
    background-color: hsl(0, 0%, 10%);
}
.navbarS li{
    float: left;
}